.styleLogo{
    height: 48px;
}

.restaurantImg{
    object-fit: cover;
    height: 800px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.restaurantImg:hover {
    animation: rotate 5s linear infinite;
}

.imgDonut{
    height: 100px;
    min-width: 250px;
    object-fit: cover;
    border-radius: 100px;
    display: flex;
    align-items: flex-end;
}

.plusMinusCart{
    cursor: pointer;
    font-size: 30px;
    margin: 0 10px;
}

.plusMinusCart:hover {
    color: #f6648e;
}

.addToCart {
    cursor: pointer;
    font-size: 35px;
    border: none;
    background-color: #f6648e;
    border-radius: 10px;
    width: fit-content;
    margin: 10px;
    align-items: center;
}

.addToCart:hover {
    color: white;
}

.imgAddToCart {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.deleteIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.deleteIcon:hover {
    background-color: #f6648e;
    border-radius: 50%;
}

.imgCart{
    width: 50px;
    height: 50px;
}