.styleLogo{
    height: 48px;

}

.restaurantImg{
    object-fit: cover;
    height: 800px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.restaurantImg:hover {
    animation: rotate 5s linear infinite;
}

.imgDonut{
    height: 120px;
    min-width: 300px;
    object-fit: cover;
    border-radius: 100px;
    display: flex;
    align-items: flex-end;
}

.plusMinusCart{
    cursor: pointer;
    font-size: 30px;
    margin: 0 10px;
}

.plusMinusCart:hover {
    color: #f6648e;
}

.addToCart {
    cursor: pointer;
    font-size: 45px;
}

.addToCart:hover {
    color: #f6648e;
}

.deleteIcon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.deleteIcon:hover {
    background-color: #f6648e;
    border-radius: 50%;
}