
.cart {
    width: 450px;
    position: sticky;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f0d3e2;
    top: 0;
    height: 100vh;
}

.basket{
    padding-inline: 10px;
}

.addToCart {
    height: 25px;
    cursor: pointer;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed rgb(34, 34, 34);
    border-top: 1px dashed rgb(34, 34, 34);
    padding-block: 20px;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed rgb(34, 34, 34);
    border-top: 1px dashed rgb(34, 34, 34);
    padding-block: 20px;
}