body{
    font-family: 'fontCutiveMono';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header{
    background-color: #F6648E;
    height: 70px;
    padding-inline: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    flex: 1;
    transition: all 0.3s ease;
    background-color: #f4af01;
    box-sizing: border-box;
}

footer{
    background-color: #F6648E;
    height: 100px;
    padding-inline: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: #f4af01;
}
