.mainImgContainer{
    position: relative;
    height: 700px;
    overflow: hidden;
    width: 100%;
    background-color:  #f4af01;
    display: flex;
    justify-content: center;
    padding-bottom:40px;
}

.layout{
    display: flex;
    align-items: stretch;
}

.overlay {
    height: 180px;
    background-color: #f0d3e2;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    left: 0;
    bottom: 120px;
    padding-inline: 30px;
}

.indexContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 600px;
}

.donutContainer{
    display: flex;
    justify-content: center;
    max-width: 100%;
    justify-content: space-between;
    padding-inline: 30px;
    background-color: #f0d3e2;
    padding-block: 30px;
    border: #f4af01 solid 20px;
    box-sizing: border-box;
    border-radius: 40px;
}

.donutContainer:hover{
    background-color: rgba(0, 0, 0, 0.076);
}

.impressumSection{
    padding-inline: 30px;
    padding-block: 30px;
    background-color: #f0d3e2;
}

