.mainImgContainer{
    position: relative;
    height: 700px;
    overflow: hidden;
    width: 100%;
    background-color:  #f4af01;
    display: flex;
    justify-content: center;
    padding-bottom:40px;
}

.overlay {
    height: 180px;
    background-color: #f0d3e2;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    left: 0;
    bottom: 120px;
    padding-inline: 30px;
}

.indexContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 600px;
}

.donutContainer{
    display: flex;
    justify-content: center;
    max-width: 100%;
    justify-content: space-between;
    padding-inline: 30px;
    background-color: #f0d3e2;
    padding-block: 30px;
    border: #f4af01 solid 20px;
    box-sizing: border-box;
    border-radius: 40px;
}

.donutContainer:hover{
    background-color: rgba(0, 0, 0, 0.076);
}

.impressumSection{
    padding-inline: 30px;
    padding-block: 30px;
    background-color: #f0d3e2;
}

@media (max-width: 1000px) {

    .donutContainer{
        flex-direction: column;
    }
}

@media (min-width: 850px) {
    .cart{
        position: sticky;
        transform: none;
    }

    .layout {
        display: flex;
        align-items: stretch;
    }

    #toggleBtn {
        display: none;
    }

    .closingCart {
        display: none;
    }
}

    

@media (max-width: 850px){

    .layout{
        display: block;
    }

    #toggleBtn {
        display: flex;
        font-size: 32px;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
    }

    .cart {
        position: fixed;
        display: none;
    }
        
    .cart.show {
        display: block;
        width: 100%;
        height: auto;
        transition: top 1s ease-in-out;
    }

    .basket {
        margin: 20px;   }

}

@media (max-width: 450px) {

    .donutContainer .imgDonut{
        min-width: 200px;
    }

    .mainImgContainer .restaurantImg {
        height: 400px;
    }

    .overlay {
        bottom: 80px;
        top: 300px;
        width: -webkit-fill-available;
    }

    .overlay h1  {
        font-size: 24px;
    }
    
    .indexContainer h2 {
        font-size: 20px;
    }
    
    .overlay h3 {
        font-size: 16px;
    }

    .indexContainer{
        padding-top: 480px;
    }

    .mainImgContainer {
        height: 560px;
    }
}

